<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whzm.mapper.ResourceAreaMapper">

    <insert id="add">
        insert into resources_area
        (id,resources_id,area_id)
        values
        (#{id},#{resourcesId},#{areaId})

    </insert>
</mapper>